@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    border: 0px solid bisque;
    font-family: 'Roboto', sans-serif;
}

.top-menu {
    border: 2px solid salmon;
}

#main-container {
    height: 100vh;
}

.full-height {
    height: 100vh;
}

#main-container {
    position: relative;
}


#main-container::after {
    content: "";
    background: url("../img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
    top: 0;
    left: 0%;
    bottom: 0%;
    right: 0;
    position: absolute;
    z-index: -1;

}